.list-user_item {
	color: $black;
	padding-top: 20px;
	padding-bottom: 25px;
	font-size: $global-font-size *0.9;
	border: 1px solid #ccc;
	border-radius: 2px 2px 0 0;
	border-bottom: none;
	margin-bottom: 0;
	padding-left: 80px;
}
 .list-user_info {
	border-radius: 2px 2px 0 0;
	list-style: none;
}
.list-user_data {
	text-transform: uppercase;
	color: $medium-gray;
}

.list-users + .accordion-bottom {
	margin-left: 20px;
	padding-left: 80px;
}
